<h3>LC 2</h3>
<ol>
  <li>Сделать чтобы сообщения показывались на экране (заменялись друг другом). Сделать кнопку вкл/выкл заморозки вывода сообщений.</li>
  <li>Сделать вывод накопленных за время заморозки сообщений с минимальной задержкой 100мс.</li>
  <li>Сделать вывод сообщений в окно со скроллом. Новые сообщения должны быть внизу.</li>
  <li>Удалять старые сообщения из окна со скроллом. Если больше 10.</li>
  <li>Реализовать туже механику для скролла, что и п.1 и п.2</li>
</ol>
<button (click)="toggleBuffer()">Вкл/Выкл</button>
<div class="msg" *ngIf="(messages$ | async) as messages">
  {{ messages[messages.length - 1] }}
</div>
<div class="scroll" *ngIf="(latest10Messages$ | async) as latest10">
  <div class="scroll-inner">
    <div class="scroll-item"
      *ngFor="let message of latest10; trackBy: trackByFn">
      {{ message }}
    </div>
  </div>
</div>
