<h3>LC 2</h3>
<ol>
  <li>Сделать чтобы сообщения показывались на экране (заменялись друг другом). Сделать кнопку вкл/выкл заморозки вывода сообщений.</li>
  <li>Сделать вывод накопленных за время заморозки сообщений с минимальной задержкой 100мс.</li>
  <li>Сделать вывод сообщений в окно со скроллом. Новые сообщения должны быть внизу.</li>
  <li>Удалять старые сообщения из окна со скроллом. Если больше 10.</li>
  <li>Реализовать туже механику для скролла, что и п.1 и п.2</li>
</ol>

<h1 class="box">{{ lastMessage() || 'Empty' }}</h1>
<button (click)="toggleFreeze()">Freeze {{ freezed() ? 'off' : 'on' }}</button>
<div class="messages">
  <div class="message" *ngFor="let message of messages$ | async">{{ message }}</div>
</div>
